<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/software-dev-labs/src/biscuit_ex7/BiscuitFactory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="biscuit_ex7.BiscuitFactory"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="software-dev-labs"/>
</launchConfiguration>
